@import url("https://fonts.bunny.net/css2?family=Poppins:wght@400;600");
@import url("https://fonts.bunny.net/css2?family=Open+Sans:wght@400");

body {
  background-color: hsl(257, 40%, 49%);
  margin: 4rem 4rem;
}

main aside h1 {
  color: white;
  font-family: "Poppins";
  font-weight: 600;
}

main p {
  color: white;
  font-family: "Open Sans";
  font-weight: 400;
}

main button {
  background-color: white;
  padding: 1rem 1rem;
  border-radius: 50px;
  border-style: none;
  margin-top: 1rem;
  width: 15rem;

  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.25rem;

  color: hsl(257, 40%, 49%);
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

footer a i {
  border: 1px solid #fff;
  border-radius: 50%;
  max-width: 50%;
  color: white;
  padding: 1.2rem;
}
@media (max-width: 380px) {
  header img {
    width: 4rem;
  }
  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./images/bg-mobile.svg");
    margin: 2rem 3rem;
  }

  main aside h1 {
    margin-top: 4rem;
    font-size: 1.8rem;
  }
  main p {
    font-size: 1.22rem;
    margin-top: 1rem;
  }
  header img {
    width: 5rem;
  }

  main aside {
    text-align: center;
  }
  main img {
    width: 20rem;
    margin-top: 2.5rem;
    flex-direction: row;
    justify-contents: center;
  }
}

@media (min-width: 380px) {
  body {
    background-repeat: no-repeat;
    background-image: url("./images/bg-desktop.svg");
    background-size: cover;
  }

  footer {
    display: flex;
    justify-content: right;
    margin-right: 40rem;
  }

  footer a {
  }
  main h1 {
    font-size: 3rem;
  }
  main p {
    font-size: 2rem;
    margin-top: 2rem;
  }
  main img {
    width: 60rem;
    margin-top: 5rem;
    flex-direction: column;
  }

  main aside h1,
  p {
    width: 36rem;
  }

  main {
    display: flex;
  }

  main aside {
    flex: 1;
    margin-left: 4rem;
    margin-top: 8rem;
  }

  main aside h1,
  p {
    width: 36rem;
  }
}
footer a {
}
footer a img {
}
