@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap");

body {
  background: hsl(212, 45%, 89%);
}

main {
  display: flex;

  align-items: center;
  justify-content: center;
}

@media (max-width: 380px) {
  .card {
    width: 100%;
    padding: 15px;
  }

  .card img {
    width: 100%;
  }
}

.card {
  margin-top: 18vh;
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  width: 330px;
  height: 32.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card img {
  margin-top: -3vh;
  border-radius: 10px;
  width: 90%;
}

.card h1 {
  font-family: "Outfit";
  font-weight: 600;
  font-size: 24px;

  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.card p {
  font-family: "Outfit";
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  text-align: center;

  margin-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
